01_search_sample_return/01_search_sample_return.aux
01_search_sample_return/01_search_sample_return.listing
01_search_sample_return/01_search_sample_return.log
01_search_sample_return/01_search_sample_return.synctex.gz
02_robotic_arm_pick_place/02_robotic_arm_pick_place.aux
02_robotic_arm_pick_place/02_robotic_arm_pick_place.log
02_robotic_arm_pick_place/02_robotic_arm_pick_place.synctex.gz
02_robotic_arm_pick_place/arm_sketch/index.html
02_robotic_arm_pick_place/arm_sketch/lib/**
03_perception_3d/03_perception_3d.aux
03_perception_3d/03_perception_3d.listing
03_perception_3d/03_perception_3d.log
03_perception_3d/03_perception_3d.synctex.gz
04_follow_me/04_follow_me.aux
04_follow_me/04_follow_me.listing
04_follow_me/04_follow_me.log
04_follow_me/04_follow_me.synctex.gz